extends layouts/login-layout.pug

block content 
    .loginContainer
        h1 Login
        form(method="post") 
            p.errorMessage #{errorMessage}
            input(type="text" name="logUsername" placeholder="Username or Email" valur=logUsername required="" )
            input(type="password" name="logPassword" placeholder="Password" required="" )
            input(type="submit" value="LogIn")
        a(href="/register") Need and account? Reagister here.