mixin createPostForm(userLoggedin)
    .postFormContainer 
        .userImageContainer    
            img(src=userLoggedin.profilePic alt="UserProfilePic")

        .textareaContainer 
            textarea#postTextarea(placeholder="What's Happening?")
        .buttonContainer
            button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedin)
    #replyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replyModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer 
                        .userImageContainer    
                            img(src=userLoggedin.profilePic alt="UserProfilePic")
                        .textareaContainer 
                            textarea#replyTextarea(placeholder="What's Happening?")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button' disabled="") Reply

